page-results {
#imgUser{
    width: 235px;
    height: 235px;
    border-radius: 50%;
}
p{
    color: aliceblue;
}
h6{
    color: darkgrey;
}

h2{
    color: #f6f5f7;
}
#search{
    margin-bottom: 3%;
    width:25%;
    position: relative;;
    left:40%;
    margin-left:-50px;
}
#perfil{
    width: 25%;
    display: table-cell;
    //background-color: #2e2f45;
}
#repos{
    margin-left: 40%;
    display: table-cell;
    background-color: #2e2f45;
}
}
