page-home {
#txtUser{
    border-radius: 30%;
}
h2{
    color: #f6f5f7;
}
#search{
    width:25%;
    height:200px;
    position:absolute;
    top:50%;
    left:40%;
    margin-top:-50px;
    margin-left:-50px;
}
}
